.pie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.think-logo {
    /* width: 10vw; */
    /* height: 10%; */
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

.think-logo-image {
    height: 5vw;
    width: auto;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.69vw 1.39vw;
    width: 100%;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 1.39vw;
}

.logo-placeholder {
    font-size: 0.8em;
    color: #666;
    opacity: 0.7;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 0.69vw;
    font-weight: bold;
    transform: translate(0vw, 0vw);
}

.avatar-circle {
    width: 2.43vw;
    height: 2.43vw;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.avatar-icon {
    width: 1.74vw;
    height: 1.74vw;
    color: rgb(227, 213, 240);
}

.app-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.39vw;
    gap: 10vw;
    margin-top: -1vw;
}


.think-text {
    font-size: 4.5em;
    color: #333;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    transform: translate(10vw, -6vw);
}

.welcome-message {
    font-size: 3.2vw;
    margin: 0;
    color: rgb(202, 13, 13);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1.8vw;
}

.star-icon1 {
    color: rgb(228, 78, 19);
    margin-right: 0.35vw;
    font-weight: 900;
    font-size: 1.5vw;
    transform: translate(4vw, -3vw);
}

.star-icon2 {
    color: rgb(11, 180, 11);
    margin-left: 0.35vw;
    font-weight: 900;
    font-size: 2vw;
    transform: translate(4vw, -3vw);
}

.highlight-name {
    /* color: #e74c3c; Red color for "Raj Kumar" */
    /* font-family: 'Times New Roman', serif; */
    font-size: 3vw;
    font-family: 'Londrina Solid, sans-serif';
    /* ~24px */
    /* font-weight: bold; */
    color: #d40000;
    /* margin: 2vw 4vw; */
    /* transform: translate(4vw, -3vw) */
}

.ready-message,
.learning-message {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    color: #0c0b0b;
    line-height: 0;
}

.ready-message {
    font-weight: 700;
}


.foundation-title {
    font-size: 1.5vw;
    color: #d80707;
    font-weight: bold;
    /* margin: 0vw 4vw; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 800;

}

.age-range {
    font-size: 1.5vw;
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.age-group-dropdown {
    padding: 0.5666vw 1.39vw;
    border: 0.069vw solid #ccc;
    background-color: rgb(221, 207, 207);
    border-radius: 8px;
    font-size: 1.5vw;
    /* background-color: white; */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Full width for mobile */
    max-width: 17.36vw;
    /* Limit width */
    /* transform: translate(4vw, 1vw); */
}

.start-button {
    padding: 0.5vw 2.78vw;
    background-color: #28a745;

    /* Green button */
    color: white;
    border: none;
    border-radius: 0.69vw;
    font-size: 1.5vw;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    /* Full width for mobile */
    max-width: 17.36vw;
    margin-top: 2vw;
    /* Limit width */
    /* transform: translate(-8vw, 6vw); */
}

.start-button:hover {
    background-color: #218838;
    /* transform: translateY(-0.14vw); */
    /* Slight lift on hover */
}

.pie-chart-section {
    height: 32vw;
    width: 32vw;

}

/* .pie-chart-container {
    width: 28vw;
    height: 30vw;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    box-shadow: 0 0.35vw 2vw rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(1vw, 6vw);
} */

/* .pie-chart {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(#6a1b9a 0% 45%,
            #e74c3c 45% 65%,
            #3498db 65% 80%,
            #5dade2 80% 90%,
            #2ecc71 90% 100%
        );
} */

/* .pie-label {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
} */

/* Positioning labels for each slice */
.english-label {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.gk-label {
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.maths-label {
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.social-label {
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.science-label {
    top: 20%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.user-profile span {
    color: #6a1b9a !important;
}

.custom-tooltip {
    background: white;
    padding: .3vw .8vw;
    font-size: 1vw;
    border-radius: 5px;
    color: #333;
    font-family: 'Poppins', sans-serif;

}


.age-group-dropdown {
    width: auto;
}

.Welcome_Image {
    width: 11vw;
}

.learning-message {
    margin-bottom: 3vw;
    margin-top: 1.8vw;
}
.Suppot_text{
    margin: 0 auto;
    text-align: center;
    font-size: 1.2vw;
    margin-top: -1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.Suppot_text span{
    cursor: pointer;
}

@media (max-width: 780px) {
    .pie {
        /* height: 130%; */
    }

    .app-header {
        flex-direction: column;
        gap: 2vw;
        font-size: 7vw;
    }


    .highlight-name {
        font-size: 8.5vw;
        width: 42vw !important;
        /* transform: translate(7vw, 0vw); */
        display: block;
        margin: 0 auto;
    }

    .foundation-title {
        font-size: 5.6vw;
    }

    .age-group-dropdown,
    .start-button {
        width: 82%;
        height: 9vw;
        padding: 1.83vw 1.5;
        font-size: 5vw;
        max-width: 30vw;
    }

    .avatar-circle {
        width: 4vw;
        height: 4vw;
    }

    /* .pie-chart-container {
        width: 50.44vw;
        height: 50.44vw;
        transform: translate(0vw, 28vw);
    } */

    .pie-label {
        font-size: 0.9em;
    }

    .think-logo-image {
        margin-top: 5vw;
        height: 18vw;
        width: 40vw;
    }

    .star-icon2 {
        font-size: 8vw;
    }

    .star-icon1 {
        font-size: 8vw;

    }




    .pie-chart-section {
        height: 92vw;
        width: 100vw;
        margin-top: 0vw;
        margin-right: 0;
    }

    .app-header {
        flex-direction: column;

        gap: 2vw;
        font-size: 7vw;
    }



    .think-text {
        font-size: 10vw;
    }



    .welcome-message {
        font-size: 9.5vw;
        width: 63vw;
    }

    /* .highlight-name {
        font-size: 8.5vw;
        width: 42vw !important;
        margin: 0vw 6vw;
    } */

    .pie1 {
        width: 100%;
        height: 179vw;
    }

    .age-range {
        font-size: 6vw;

    }

    .ready-message,
    .learning-message {
        font-size: 5vw;
    }
.learning-message{
    margin-top: 5.5vw;
}
    .age-group-dropdown {
        width: 82%;
        height: 9vw;
        padding: 1.83vw 1.5;
        font-size: 3vw;
        max-width: 30vw;
        margin: 4vw 0vw;
    }

    .avatar-circle {
        width: 4vw;
        height: 4vw;
    }

    /* .pie-chart-container {
        width: 50.44vw;
        height: 50.44vw;
        transform: translate(0vw, 30vw);
    } */

    .pie-label {
        font-size: 0.9em;
        margin: -2vw -2vw;
    }



    .star-icon2 {
        font-size: 8vw;

    }

    .star-icon1 {
        font-size: 8vw;
    }

    .app-main-content {
        flex-direction: column;
        gap: 3vw;
    }


    .custom-tooltip {
        font-size: 4vw;
        padding: 1vw 2vw;
    }

    .Welcome_Image {
        width: 40vw;
    }

    .welcome-section {
        text-align: center;
        margin-top: 6vw;
    }
    .Suppot_text{
    font-size: 3.9vw;
    margin-top: 9vw;

}

}